# Kings County Housing Prices Bakeoff

Below are a list of steps that you should take while trying to complete your bake-off entry.

In [231]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from statsmodels.formula.api import ols
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
import statsmodels.api as sm
pd.set_option('display.max_columns', 100)
import os

## Step 1: Read in Data

In [232]:
df = pd.read_csv('kc_house_data_train.csv') #Open the dataframe 
df.head() #Preview Contents

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,2591820310,20141006T000000,365000.0,4,2.25,2070,8893,2.0,0,0,4,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
1,1,7974200820,20140821T000000,865000.0,5,3.00,2900,6730,1.0,0,0,5,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283
2,2,7701450110,20140815T000000,1038000.0,4,2.50,3770,10893,2.0,0,2,3,11,3770,0,1997,0,98006,47.5646,-122.129,3710,9685
3,3,9522300010,20150331T000000,1490000.0,3,3.50,4560,14608,2.0,0,2,3,12,4560,0,1990,0,98034,47.6995,-122.228,4050,14226
4,4,9510861140,20140714T000000,711000.0,3,2.50,2550,5376,2.0,0,0,3,9,2550,0,2004,0,98052,47.6647,-122.083,2250,4050

## Step 2: Exploratory Data Analysis 
    
Become familiar with the data.  Look to see if there are any extreme values.  

Additionally create data visualizations to determine if there are any relationships between your features and your target variables.

In [233]:
df.info() #Examine column data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17290 entries, 0 to 17289
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     17290 non-null  int64
 1   id             17290 non-null  int64
 2   date           17290 non-null  object
 3   price          17290 non-null  float64
 4   bedrooms       17290 non-null  int64
 5   bathrooms      17290 non-null  float64
 6   sqft_living    17290 non-null  int64
 7   sqft_lot       17290 non-null  int64
 8   floors         17290 non-null  float64
 9   waterfront     17290 non-null  int64
 10  view           17290 non-null  int64
 11  condition      17290 non-null  int64
 12  grade          17290 non-null  int64
 13  sqft_above     17290 non-null  int64
 14  sqft_basement  17290 non-null  int64
 15  yr_built       17290 non-null  int64
 16  yr_renovated   17290 non-null  int64
 17  zipcode        17290 non-null  int64
 18  lat            17290 non-null  float64
 19  long           17290 non-null  float64
 20  sqft_living15  17290 non-null  int64
 21  sqft_lot15     17290 non-null  int64
dtypes: float64(5), int64(16), object(1)
memory usage: 2.9+ MB

In [234]:
df.describe() #locate any extreme or questionable values

,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,17290.000000,1.729000e+04,1.729000e+04,17290.000000,17290.000000,17290.000000,1.729000e+04,17290.000000,17290.000000,17290.000000,17290.000000,17290.000000,17290.000000,17290.000000,17290.000000,17290.000000,17290.000000,17290.000000,17290.000000,17290.000000,17290.000000
mean,8644.500000,4.565502e+09,5.407395e+05,3.372470,2.111943,2081.464604,1.524340e+04,1.490312,0.007981,0.238519,3.408502,7.654425,1789.306015,292.158589,1970.792019,83.806304,98078.193175,47.560058,-122.214258,1987.986698,12873.475824
std,4991.337413,2.874656e+09,3.733190e+05,0.939346,0.770476,920.018539,4.230462e+04,0.538909,0.088985,0.775229,0.651296,1.174718,829.265107,443.151874,29.343516,400.329376,53.607949,0.138412,0.140857,684.802635,27227.437583
min,0.000000,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.720000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,659.000000
25%,4322.250000,2.114701e+09,3.210000e+05,3.000000,1.500000,1430.000000,5.081250e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1200.000000,0.000000,1951.000000,0.000000,98033.000000,47.471200,-122.329000,1490.000000,5111.250000
50%,8644.500000,3.903650e+09,4.500000e+05,3.000000,2.250000,1920.000000,7.642000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1974.000000,0.000000,98065.000000,47.571600,-122.230000,1840.000000,7622.500000
75%,12966.750000,7.301150e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.072575e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2214.500000,560.000000,1996.000000,0.000000,98118.000000,47.677900,-122.126000,2360.000000,10101.750000
max,17289.000000,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,858132.000000

In [250]:
df.loc[df['bathrooms'] == 0] #investigate houses with 0 bathrooms

Empty DataFrame
Columns: [Unnamed: 0, id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

In [251]:
df.loc[df['bedrooms'] == 0].describe() #investigate houses with 0 bedrooms

,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
#investigate no bedroom and no bathroom homes
#Create binary basement variable
#create binary renovated(?)

In [238]:
#What to do with houses that have 0 bathrooms and/or 0 bedrooms?
#Perhaps create a for loop in which values for bedroom and bathroom are filled with the median based on the price of the house?

## Step 3: Clean up any issues (extreme values, etc.) with the data.  

Remember that you can't just delete rows with extreme values. Similar observations might be present in the holdout data set, and you can't just delete those rows and not have a prediction for it.

In [239]:
br25 = df['sqft_living'].quantile(.25)
br50 = df['sqft_living'].quantile(.50)
br75 = df['sqft_living'].quantile(.75)
br99 = df['sqft_living'].quantile(.99)

br25, br50, br75, br99 #Calculate %-tile square foor ranges

(1430.0, 1920.0, 2550.0, 5000.0)

In [240]:
br25p = df.loc[df['sqft_living']]['bathrooms'].quantile(.25)
br50p = df.loc[df['sqft_living']]['bathrooms'].quantile(.50)
br75p = df.loc[df['sqft_living']]['bathrooms'].quantile(.75)
br99p = df.loc[df['sqft_living']]['bathrooms'].quantile(.99)

br25p, br50p, br75p, br95p

(1.5, 2.25, 2.5, 4.25)

In [241]:
df['bathrooms'] = np.where(
   (df['sqft_living'] <= br25) & (df['bathrooms'] == 0) , br25p, df['bathrooms']
   ) #Replace 0 bathrooms house values for 25%-tile bathroom value

In [242]:
df['bathrooms'] = np.where(
   (df['sqft_living'] <= br50) & (df['bathrooms'] == 0) , br50p, df['bathrooms']
   ) ##Replace 0 bathrooms house values for 50%-tile bathroom value

In [243]:
df['bathrooms'] = np.where(
   (df['sqft_living'] <= br75) & (df['bathrooms'] == 0) , br75p, df['bathrooms']
   ) #Replace 0 bathrooms house values for 75%-tile bathroom value

In [244]:
df['bathrooms'] = np.where(
   (df['sqft_living'] >= br75) & (df['bathrooms'] == 0) , br99p, df['bathrooms']
   ) #Replace 0 bathrooms house values for 99%-tile bathroom value

In [245]:
bed25p = df.loc[df['sqft_living']]['bedrooms'].quantile(.25)
bed50p = df.loc[df['sqft_living']]['bedrooms'].quantile(.50)
bed75p = df.loc[df['sqft_living']]['bedrooms'].quantile(.75)
bed99p = df.loc[df['sqft_living']]['bedrooms'].quantile(.99)

bed25p, bed50p, bed75p, bed99p

(3.0, 3.0, 4.0, 6.0)

In [246]:
df['bedrooms'] = np.where(
   (df['sqft_living'] <= br25) & (df['bedrooms'] == 0) , bed25p, df['bedrooms']
   ) #Replace 0 bathrooms house values for 25%-tile bedroom value

In [247]:
df['bedrooms'] = np.where(
   (df['sqft_living'] <= br50) & (df['bedrooms'] == 0) , bed50p, df['bedrooms']
   ) #Replace 0 bathrooms house values for 50%-tile bedroom value

In [248]:
df['bedrooms'] = np.where(
   (df['sqft_living'] <= br75) & (df['bedrooms'] == 0) , bed75p, df['bedrooms']
   ) #Replace 0 bathrooms house values for 75%-tile bedroom value

In [249]:
df['bedrooms'] = np.where(
   (df['sqft_living'] >= br75) & (df['bedrooms'] == 0) , bed99p, df['bedrooms']
   ) #Replace 0 bathrooms house values for above 75%-tile bedroom value with 99%-tile bedroom value

In [229]:
df['bathrooms'].unique() #Make sure no 0 values remain

array([2.25, 3.  , 2.5 , 3.5 , 2.  , 1.  , 1.75, 3.75, 3.25, 4.25, 2.75,
       1.5 , 4.5 , 4.  , 4.75, 0.75, 5.  , 5.5 , 6.  , 1.25, 5.75, 6.75,
       5.25, 6.5 , 8.  , 7.5 , 6.25, 0.5 , 7.75])

## Step 4: Generate new features that you think could be important.

After doing this, you will want to go back to steps 2 and 3 to investigate these new features.

### 4.1) Identify a categorical variable in the data set and create dummy columns.

In [ ]:
# your code here

### 4.2) There is a column that gives the date for when the house was sold, how could this be useful in your model? How might you transform the current column to a more useful feature?

In [ ]:
#your code here

### 4.3) There are columns for when the house was built and when it was renovated.  How could you use these columns to create a new column?

In [ ]:
#your code here

### <ins>Non-linear transformations</ins>

### 4.4) Create a polynomial feature for two of your continuous variables.

In [ ]:
# your code here

### 4.5) Create an interaction feature between a binary variable (dummy variable) and a continuous variable.

In [ ]:
# your code here

## Step 5: Model Evaluation

## 5.1)  Fit an initial model and check the errors to see if the model assumptions are being met. If need be, go back to steps 3 and 4 to improve your mdoel.

In [1]:
#your code here

### 5.2) Perform a train-test split of the data.

In [1]:
#your code here

### 5.3) Fit the model to the training data.

In [1]:
#your code here

### 5.4) Use the model to predict on the training set and the test set.

In [2]:
#your code here

### 5.5) Evaluate the training and test predictions using RMSE.

In [3]:
#your code here

### 5.6) Determine if your model is overfit.

In [ ]:
#your code here

In [5]:
def test_data(df_features, target):
    testtrainsplit
    lm = LinearRegression()
    lm.fit()
    return RMSE

In [ ]:
df1_rmse = test_data(df1)

## Step 6: Utilize some different feature selection techniques before or in conjuction with fitting your models. You will have to repeat steps 5.3 through 5.6 to determine how your new model is performing.

### 6.1) Utilize a filter method to identify some features to remove from the model.

In [7]:
# your code here

### 6.2) After removing the features, re-run Step 5 and see if your new model performs better than the old model.

In [8]:
# your code here

## Step 7: Compare the RMSE of your different models that use differen features and determine the best model overall.

## Step 8:  Refit your best model to the entire dataset.

## Step 9: Save your final model using pickle.

https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/